body {
  background-color: white;
  width: 2071px;
}

.color , .pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
}

.pixel {
  background: white;
  margin-top: -5px;
  margin-left: -1px;
}

#pixel-board {
  margin-top: 9px;
}

.pixels {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
}
